
.example-spacer {
  flex: 1 1 auto;
  text-align: center;
}


.logo{
background: url(./utils/images/logo_full.202923872172fb33.png);
width: 300px;
height: 45px;
background-size: contain;
background-repeat: no-repeat;
background-position: 0 0;
}
