@import '../../../Styles/variables.scss';
.button{
  height: 4em;
}

.search-input{
    box-sizing: border-box;
    border-radius: 25px;
    background-color: $grey;

}
input, textarea, select, a { outline: none; }
.search-input:focus {
  outline:none;
  box-shadow: none;
}
.section-box{
  padding: 15px 22px;
  margin: 15px 5px;
}
